.draggable {
    background: #ccc;
    border: 1px solid #888;
    cursor: move;
    margin: 0 0 5px 0;
    padding: 5px 10px;
    width: 220px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.droppable {               
    margin: 0 0 5px 0;   
    width: 222px;              
} 

.droppable .field_name {
    background: #bbb;
    border: 1px solid #888;
    font-size: 11px;
    padding: 3px 10px;
    width: 220px;              
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;   
}

.droppable .field_name .wp_variable_remove {     
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    float: right;  
}

.droppable .wp_variable {    
    background: #f7c676;       
    border: solid #888;
    border-width: 0 1px 1px 1px;
    font-size: 11px;
    padding: 3px 10px;
    width: 220px;              
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px; 
}

.droppable .wp_variable_null {    
    background: #ccc;       
}

.droppable_over .field_name {   
    background-color: #f7b74d;
    border-color: #e78f08;
}

.droppable_over .wp_variable { 
    background-color: #f7c676;
    border-color: #e78f08;
}